*{
    margin: 0;
    padding:0;
}

#canvas1{
    background-color:black;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
}